div { 
	/* Voorkomt breder worden van divs wanneer padding gegeven word. Width property is nu dus te vertrouwen. :) */
	box-sizing: border-box; 
}

/* Buttons */
input[type="button"] {
	border-radius: 5px;
	background-color: #cc0066;
	border-color: #cc0066;
	color: #FFFFFF;
	outline: none;
}
input[type="button"]:hover {
	background-color: #000066;
	border-color: #000066;
}
input[type="button"].selected {
	background-color: #000066;
	border-color: #000066;
	cursor: default;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	margin: 5px;
}

h4, h5, h6 {
	color: #CC0066
}

h1, h2, h3 {
	color: #000066;
}

/* Table */
table {
	border: 2px solid black;
}

table td, th {
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding: 5px;
}

table thead th {
	text-align: left;
}

table#tableAlt1 thead tr {
	background-color: #FFF038;
}

table#tableAlt1 tbody tr {
	background-color: #DD5F95;
}

table#tableAlt1 tbody tr.even {
	background-color: #1786BC;
}

table#tableAlt2 thead tr {
	background-color: #CCCCCC;
}

table#tableAlt2 tbody tr.even {
	background-color: #EEEEEE;
}

/* Outer wrap */
#wrap {
	margin: auto;
	width: 1024px;
	/*border: 1px solid black;*/
	padding: 20px;
}

/* Site header */
header {
	height: 200px;
}

#sessionInfo {
	float: right;
}

#navigation {
	margin-top: 15px;
}

/* Content */
#content {
	padding: 10px;
	min-height: 400px;
	border: 1px solid black;
	border-radius: 10px;
}