/* Other styles */
* {
    /* Prevent divs width from getting bigger when padding is added. Which means that you can now actually trust the width you give it. :) */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    position: relative;
}

table td, th {
    padding: 5px;
}

textarea {
    resize: none;
}

input, select, textarea {
    margin: 10px 0px 1px 0px;
}

.floatContainer {
    overflow: auto;
}

/* Buttons */
input[type="button"] {
    border-radius: 5px;
    background-color: #cc0066;
    border-color: #cc0066;
    color: #FFFFFF;
    outline: none;
}

input[type="button"]:hover {
    background-color: #000066;
    border-color: #000066;
}

input[type="button"].selected {
    background-color: #000066;
    border-color: #000066;
    cursor: default;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    margin: 5px;
}

h4, h5, h6 {
    color: #CC0066
}

h1, h2, h3 {
    color: #000066;
}

/* Styled Table */
table.styledTable {
    border: 2px solid black;
    width: 100%;
}

table.styledTable td, th {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

table.styledTable thead th {
    text-align: left;
    color: white;
}

table.styledTable thead tr {
    background-color: #1786BC;
}

table.styledTable tbody tr.even {
    background-color: #95B9E8;
}

table input, table select {
    margin-top: 0px;
}

/* Outer wrap */
#wrap {
    margin: auto;
    width: 1024px;
    /*border: 1px solid black;*/
    padding: 20px;
}

/* Site header */
header {
    height: 200px;
}

#sessionInfo {
    float: right;
}

#navigation {
    margin-top: 10px;
}

/* Content */
#content {
    padding: 10px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}

/* Message popup */
.coverBg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cover {
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 300px;
    left: 50%;
    margin-left: -270px;
    z-index: 600;
    width: 540px;
    height: auto;
    background-color: #ffffff;
}

.cover .header {
    width: 100%;
    background-color: #1786BC;
    border-bottom: 3px solid #cc0066;
    color: #ffffff;
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
    font-weight: bold;
}

.cover .header .closeButton {
    float: right;
    height: 100%;
    width: 30px;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
}

.cover .header .closeButton:hover {
    color: #000000;
}

.cover .contentMessage {
    padding: 20px;
    width: 100%;
}

/* Login Page */
#loginWrap {
    margin: auto;
    margin-top: 100px;
    width: 400px;
}

#loginWrap #content-login-logo {
    width: 250px;
    margin: auto;
}

#content-login {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 250px;
}

.center {
    font-size: 50px;
    text-align: center;
}

#loginForm {
    width: 100%;
}

#login-input {
    width: 94%;
    height: 27px;
    background: #efefef;
    border: 1px solid #dedede;
    padding: 10px;
    margin-top: 3px;
    font-size: 0.9em;
    color: #3a3a3a;
    border-radius: 5px;
}

#login-input:focus {
    border: 1px solid #97d6eb;
}

#login-button {
    width: 100%;
    height: 38px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}

#login-button:hover {
    opacity: 0.9;
}

/* Declaration details & New declaration */
.DeclarationTableTitle {
    float: left;
}

.TotalDeclarationPrice {
    float: right;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.DeclarationCommentsDiv {
    float: left;
    margin-right: 40px;
}

.DeclarationCommentsDiv textarea {
    width: 350px;
    height: 150px;
}

.DeclarationEvidenceDiv {
    float: left;
    margin-right: 40px;
}

.DeclarationEvidenceDiv select {
    width: 350px;
    height: 120px;
}

.DeclarationEvidenceDiv input {
    width: 172px;
}

.DeclarationSendButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 130px;
    height: 30px;
}

.DeclarationPriceinput {
    width: 60px !important;
}

.DeclarationDelete {
    width: 28px;
}
